.Count-view {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    text-align: center;
    margin-left: 10px;
}

.view {
    height: 185px;
    width: 185px;
    border-radius: 50%;
    background-color: #F5C34B;
    padding-top: 45px;
}

@media screen and (max-width: 990px) {
    .Count-view {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-left: 10%;
    }

}

@media screen and (max-width: 650px) {
    .Count-view {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin-left: 20%;
    }

}